##
## Visual Studio / .NET / WinUI 3
##

# Build outputs
bin/
obj/
AppPackages/
BundleArtifacts/

# Visual Studio cache/options
.vs/
*.user
*.userosscache
*.suo
*.cache

# Build results
*.dll
*.exe
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.pri
*.xbf

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows Store app package directories and files
Package.StoreAssociation.xml
*_TemporaryKey.pfx

# Visual Studio cache files
*.[Cc]ache
!?*.[Cc]ache/

# Others
*.log
*.vspscc
*.vssscc
