<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap mp">

  <Identity
    Name="YUZU384.NekoGirl"
    Publisher="CN=872C1CEB-4F85-42A5-B826-0375B59C8EC5"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="60dd07f7-4e69-4d00-b732-abcc4983d965" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NekoGirl</DisplayName>
    <PublisherDisplayName>YUZU384</PublisherDisplayName>
    <Logo>Assets\Neko_200x200.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="NekoGirl"
        Description="NekoGirl-winui3"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Neko_600x600.png"
        Square44x44Logo="Assets\Neko_256x256.png">
        <uap:DefaultTile ShortName="Neko" Square71x71Logo="Assets\Neko_284x284.png" Wide310x150Logo="Assets\Neko_1240x600.png" Square310x310Logo="Assets\Neko_1240x1240.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Neko_96x96.png"/>
        <uap:SplashScreen Image="Assets\Neko_1240x600.png"/>
      </uap:VisualElements>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>
