<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap uap5 rescap mp">

  <Identity
    Name="YUZU384.NekoGirl"
    Publisher="CN=872C1CEB-4F85-42A5-B826-0375B59C8EC5"
    Version="1.0.5.0"
    ProcessorArchitecture="x64" />

  <mp:PhoneIdentity PhoneProductId="bcd864d7-7f2a-4bb9-b34a-55a9b94901e2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NekoGirl</DisplayName>
    <PublisherDisplayName>YUZU384</PublisherDisplayName>
    <Logo>Assets\Neko_200x200.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-cn"/>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="NekoGirl"
        Description="随机获取可爱的猫娘图片"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Neko_600x600.png"
        Square44x44Logo="Assets\Neko_200x200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Neko_1240x600.png" Square71x71Logo="Assets\Neko_284x284.png" Square310x310Logo="Assets\Neko_1240x1240.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Neko_1240x600.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>

</Package>
